* {
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

:root {
  /* Neutral colors  */
  --neutral-darker: #1c1d21;
  --neutral-background: #212229;
  --neutral-surface: #2a2c34;
  --neutral-header: #33353f;
  --neutral-text: #f5f5f5;

  /* Primary colors  */
  --primary-highlight: #7693ff;

  /* Secundary colors */
  --secondary-income: #d6ff62;
  --secondary-expense: #f87828;
}

body {
  background-color: var(--neutral-background);
  margin: 0;
}