.list {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: 124px;
}

.list li {
    border-bottom: 1px solid var(--neutral-header);
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.list li:last-child {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

.actions {
    display: flex;
    justify-content: center;
}
