.card {
    max-width: 435px;
    min-height: 227px;
    display: flex;
    flex-direction: column;
}

.header {
    background-color:  var(--neutral-header);
    color:  var(--neutral-text);
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:  20px 20px 0 0 ;
}

.body {
    background-color:  var(--neutral-surface);
}