.card {
    max-width: 435px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.header {
    background-color: var(--neutral-header);
    color: var(--neutral-text);
    font-weight: 700;
    font-size: 20px;
    min-height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px 24px 0 0;
    padding: 16px; 
    text-align: center; 
}

.body {
    background-color: var(--neutral-surface);
    padding: 32px 16px; 
    border-radius: 0 0 24px 24px;
}