.transaction {
    display: flex;
    justify-content: space-between;
}

.transaction p {
    margin: 0;
}

.date {
    color: var(--neutral-text);
    font-size: 14px;
    line-height: 20px;
}

.details_bank {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 15px;
    line-height: 120%;
    font-weight: 500;
    color: var(--neutral-text);
}

.details_movement {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 15px;
    line-height: 120%;
    color: var(--neutral-text);
}